<h1>Doctors</h1>
<%= link_to 'Add Doctor', new_doctor_path %>
<hr />
<h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2> 
<ul>
  <% @doctors.each do |doctor| %>
    <li>
     <p> Dr. <%= link_to doctor.whole_name, doctor %></p>
    </li>
  <% end %>
</ul>